<select id="ingredients" class="selectpicker" data-live-search="true" data-size="5" data-style="btn-info" multiple>
    {{#each ingredients}}
        <option value="{{_id}}">{{name}}</option>
    {{/each}}
</select>